/*primary: hsl(15, 80%, 60%) #eb7047
dark: hsl(15, 80%, 20%) #5c1f0a
light: #f5b8a3 hsl(15, 80%, 80%)
*/

body {
	margin: 20px !important;
	background: #fff url("visual_data.svg") no-repeat fixed center;
}
* {
	text-align: center !important;
}
img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
} #logo {
	width: 64px;
}
textarea, input[type=text] {
	border: 2px solid #5c1f0a !important;
}
h1, h3, p, label, textarea {
	color: #5c1f0a  !important;
}
kbd {
	background-color: #5c1f0a  !important;
}
#delim {
	width: 50px;
	display: inline;
}
button {
	background-color: #eb7047;
	color: #fff;
}


::selection {
	background: #5c1f0a;
	color: #fff;
}::-moz-selection {
	background: #5c1f0a;
	color: #fff;	
} ::placeholder {
	color: #eb7047;
} ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #eb7047 !important;
} ::-moz-placeholder { /* Firefox 19+ */
	color: #eb7047 !important;
} :-ms-input-placeholder { /* IE 10+ */
	color: #eb7047 !important;
} :-moz-placeholder { /* Firefox 18- */
	color: #eb7047 !important;
}

textarea:focus,
input[type="text"]:focus,
button:focus,
.uneditable-input:focus {
	border-color: #eb7047 !important;
	box-shadow: 4px 4px 0px #eb7047  !important;
}
button:focus {
	border-color: #5c1f0a !important;
	box-shadow: 4px 4px 0px #5c1f0a  !important;
}

input, textarea {
	opacity: 0.9;
}

@media screen and (max-width: 768px) {
	body {
		background: #fff;
	}
}
